page-login {
 
    .login-content {
        background: color($colors, primary);
        // background: #3a4651;
        // background: #fff;
 
        .logo-row {
            padding-top: 50px;
            padding-bottom: 20px;
        }

        .logo-text {
            font-size: 3.6rem;
            color: color($colors, foreground);
        }

        .logo-subtext {
            color: color($colors, foreground);
        }
    
        ion-row {
            align-items: center;
            text-align: center;
        }

        .error-text {
            color: #F1A445;
        }
    
        ion-item {
            padding-left: 16px !important;
            font-size: 15px;
            margin-bottom: 10px;
            border-bottom: 0px !important;
            box-shadow: none !important;
            background: #fff !important;
            color: black;

            .item-inner {
                border-bottom: 0 !important;
            }
        }
    
        .signup-col {
            margin: 0px 16px 0px 16px;
            padding-bottom: 20px;
        }
    
        .item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
        }
    
        .submit-btn {
            background: color($colors, secondary);
            border: 1px solid #ffffff;
        }
    
        .register-btn {
            color: #ffffff;
            font-size: 1.4rem;
            margin-right: 0;
        }

        .buttons-group {
            margin-left: 16px;
            margin-right: 16px;
        }
    }
 
}