page-login {
 
    .login-content {
        background: color($colors, background);
 
        .logo-row {
            padding-top: 50px;
            padding-bottom: 20px;
        }

        .logo-text {
            font-size: 3.6rem;
            color: color($colors, foreground);
        }

        .logo-subtext {
            color: color($colors, foreground);
        }

        .login-box {
            margin-top: 20px;
        }
    
        ion-row {
            align-items: center;
            text-align: center;
        }

        .error-text {
            color: red;
        }
    
        ion-item {
            padding-left: 5px !important;
            font-size: 15px;
            margin-bottom: 10px;
            border-bottom: 0px !important;
            box-shadow: none !important;
            background: #333 !important;
            color: color($colors, foreground) !important;

            .item-inner {
                border-bottom: 0 !important;
            }
        }
    
        .signup-col {
            margin: 0px 16px 0px 16px;
            padding-bottom: 20px;
        }
    
        .item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
        }
    
        .submit-btn {
            background: color($colors, accent2);
            border: 1px solid #ffffff;
        }
    
        .register-btn {
            color: #ffffff;
            font-size: 0.8em;
        }
    }
 
}