<ion-header>
    <ion-navbar>
        <!-- <ion-title>Upload Password</ion-title> -->
    </ion-navbar>
</ion-header>

<ion-content>
    <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1"
        [resizeToWidth]="290"
        format="png"
        (imageCroppedBase64)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper>

    <div text-center margin-top>

        <button *ngIf="!isSaving" ion-button (click)="uploadPhoto()">Save</button>
        <ion-spinner *ngIf="isSaving"></ion-spinner>
    </div>
</ion-content>