page-packages {
    ion-note {
        color: #666 !important;
    }

    .arrow-right {
        font-size: 2.2em;
        color: #D54A44;
    }

    .location-text {
        font-weight: bold;
    }

    .has-refresher>.scroll-content {
        border-top: 0;
    }
}