<ion-content class="forgot-password-content" padding>
    <ion-row class="logo-row">
        <ion-col>
        </ion-col>
        <ion-col width-50>
            <img src="assets/imgs/carga_logo.png">
            <h4 class="page-title">Forgot Password?</h4>
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    
    <p text-center class="page-subtitle" *ngIf="currentPage == 1">
        Provide username of your account.
    </p>

    <p text-center class="page-subtitle" *ngIf="currentPage == 2">
        Please provide the token that has been sent to your email.
    </p>

    <p text-center class="page-subtitle" *ngIf="currentPage == 3">
        You may now change your password.
    </p>

    <div class="login-box" *ngIf="currentPage == 1">
        <form (ngSubmit)="submit(user)" #forgotPasswordForm="ngForm">
            <ion-row>
                <ion-col>
                    <ion-list inset>
                        <ion-item>
                            <ion-label><ion-icon name="person"></ion-icon></ion-label>
                            <ion-input type="text" placeholder="Username" name="username" [(ngModel)]="user.username" required></ion-input>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            
            <ion-row>
                <ion-col class="signup-col">
                    <button ion-button class="submit-btn" full type="submit" [disabled]="!forgotPasswordForm.form.valid || isLoading">Next</button>
                    <button ion-button class="register-btn" type="button" block clear (click)="cancel()">Cancel</button>
                </ion-col>
            </ion-row>
        </form>
    </div>

    <div class="login-box" *ngIf="currentPage == 2">
        <ion-row>
            <ion-col>
                <ion-list inset>
                    <ion-item>
                        <ion-label><ion-icon name="key"></ion-icon></ion-label>
                        <ion-input type="text" placeholder="Enter token" name="token" [(ngModel)]="token" required></ion-input>
                    </ion-item>
                    <ion-label *ngIf="errorMessages.token" class="error-text">{{errorMessages.token}}</ion-label>
                </ion-list>
            </ion-col>
        </ion-row>
            
        <ion-row>
            <ion-col class="signup-col">
                <button ion-button class="submit-btn" full type="submit" (click)="validateToken(token)" [disabled]="!token">Next</button>
                <button ion-button class="register-btn" type="button" block clear (click)="currentPage = 1; token = ''">Back</button>
            </ion-col>  
        </ion-row>
    </div>

    <div class="login-box" *ngIf="currentPage == 3">
        <form (ngSubmit)="changePassword(user)" #changePasswordForm="ngForm">
            <ion-row>
                <ion-col>
                    <ion-list inset>
                        <ion-item>
                            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="user.password" required></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-input type="password" (keyup)="validateConfirmPassword($event)" placeholder="Confirm Password" name="confirmpassword" [(ngModel)]="user.confirmPassword" required></ion-input>
                        </ion-item>
                        <ion-label *ngIf="errorMessages.confirmPassword" class="error-text">{{errorMessages.confirmPassword}}</ion-label>
                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="signup-col">
                    <button ion-button class="submit-btn" full type="submit" [disabled]="!changePasswordForm.form.valid || isLoading || errorMessages.confirmPassword">Save New Password</button>
                    <button ion-button class="register-btn" type="button" block clear (click)="currentPage = 2; token = ''">Back</button>
                </ion-col>  
            </ion-row>
        </form>
    </div>
</ion-content>