<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Home
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div id="map-small" style="width:100%; height:30%;" margin-bottom></div>
    <form #deliveryForm="ngForm">
        <ion-list *ngIf="currentPage == 1">
            <ion-item (click)="selectDate($event)">
                <ion-label>
                    <ion-icon name="calendar"></ion-icon>
                </ion-label>
                <ion-input required disabled placeholder="Select Date" [(ngModel)]="selectedDate" name="pickupdate"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Select Time</ion-label>
                <ion-datetime required displayFormat="hh:mm a" [(ngModel)]="selectedTime" name="selectedtime"></ion-datetime>
            </ion-item>
            <ion-item (click)="showModal('pickup')">
                <ion-label>Pickup Location</ion-label>
                <ion-input required [(ngModel)]="selectedPickup" disabled name="pickuplocation"></ion-input> 
            </ion-item>
    
            <div text-center>
                <h4 ion-text color="primary" (click)="currentPage = 2">Next</h4>
            </div>
        </ion-list>
    
        <ion-list *ngIf="currentPage == 2">
            <ion-item (click)="showModal('destination')">
                <ion-label>Destination</ion-label>
                <ion-input required disabled [(ngModel)]="selectedDestination" name="destination"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Receiver Contact Number</ion-label>
                <ion-input required [(ngModel)]="deliveryObj.custom.receiverContactNumber" name="contact"></ion-input>
            </ion-item>
            <div padding>
                <h4 text-left ion-text color="primary" (click)="currentPage = 1">Previous</h4>
                <h4 class="next" ion-text color="primary" (click)="currentPage = 3">Next</h4>
            </div>
        </ion-list>
    
        <ion-list *ngIf="currentPage == 3">
            <ion-item>
                <ion-label>Package Type</ion-label>
                <ion-select required [(ngModel)]="deliveryObj.packageType" name="type">
                    <ion-option value="perishableFood">Perishable Food</ion-option>
                    <ion-option value="preservedFood">Preserved Food</ion-option>
                    <ion-option value="document">Document</ion-option>
                    <ion-option value="electronics">Electronics</ion-option>
                    <ion-option value="clothing">Clothing</ion-option>
                    <ion-option value="default">Default</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Package Weight</ion-label>
                <ion-input type="number" required [(ngModel)]="deliveryObj.weight" name="weight"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Package Size</ion-label>
                <ion-input required [(ngModel)]="deliveryObj.dimension" name="dimension"></ion-input>
            </ion-item>
            <div padding>
                <h4 text-left ion-text color="primary" (click)="currentPage = 2">Previous</h4>
                <h4 class="next" ion-text color="primary" (click)="currentPage = 4">Next</h4>
            </div>
        </ion-list>
        
        <ion-list *ngIf="currentPage == 4">
            <div padding>
                <ion-row>
                    <ion-col>Pick up Date</ion-col>
                    <ion-col>{{selectedDate}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Pick up Time</ion-col>
                    <ion-col>{{formatTime(selectedTime)}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Pick up Location</ion-col>
                    <ion-col>{{selectedPickup}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Destination</ion-col>
                    <ion-col>{{selectedDestination}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Receiver Contact Number</ion-col>
                    <ion-col>{{deliveryObj.custom.receiverContactNumber}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Package Type</ion-col>
                    <ion-col>
                        {{deliveryObj.packageType === 'perishableFood' ? 'Perishable Food' : ''}}
                        {{deliveryObj.packageType === 'preservedFood' ? 'Preserved Food' : ''}}
                        {{deliveryObj.packageType === 'document' ? 'Document' : ''}}
                        {{deliveryObj.packageType === 'electronics' ? 'Electronics' : ''}}
                        {{deliveryObj.packageType === 'clothing' ? 'Clothing' : ''}}
                        {{deliveryObj.packageType === 'default' ? 'Default' : ''}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Package Weight</ion-col>
                    <ion-col>{{deliveryObj.weight}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Package Size</ion-col>
                    <ion-col>{{deliveryObj.dimension}}</ion-col>
                </ion-row>
            </div>
            <div padding>
                <h4 text-left ion-text color="primary" (click)="currentPage = 3">Previous</h4>
                <button ion-button class="next" [disabled]="!isValid() || isSaving" margin-top margin-bottom (click)="sendRequest(deliveryObj)">Send Request</button>
            </div>
        </ion-list>
    </form>
    <div class="container-fluid" *ngIf="currentPage != 4">
        <ul class="list-unstyled multi-steps">
            <li [ngClass]="{'is-active': currentPage == 1}">Select Pickup Location/Date</li>
            <li [ngClass]="{'is-active': currentPage == 2}">Select Destination</li>
            <li [ngClass]="{'is-active': currentPage == 3}">Fill-up Details</li>
            <li>Wrap Up</li>
        </ul>
    </div>
</ion-content>