<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Home
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div #map id="map" [ngClass]="{'hide': currentPage == 4}">
    </div>
    <form #deliveryForm="ngForm">
        <ion-list *ngIf="currentPage == 1">
            <ion-item (click)="selectDate($event)">
                <ion-label>
                    <ion-icon name="calendar"></ion-icon>
                </ion-label>
                <ion-input required disabled placeholder="Date" [(ngModel)]="selectedDate" name="pickupdate"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Select Time</ion-label>
                <ion-datetime required displayFormat="hh:mm a" [(ngModel)]="selectedTime" name="selectedtime"></ion-datetime>
            </ion-item>
            <ion-item (click)="showModal('pickup')">
                <ion-label>Pickup Location</ion-label>
                <ion-input required [(ngModel)]="selectedPickup" disabled name="pickuplocation"></ion-input> 
            </ion-item>
        </ion-list>
    
        <ion-list *ngIf="currentPage == 2">
            <ion-item (click)="showModal('destination')">
                <ion-label>Destination</ion-label>
                <ion-input required disabled [(ngModel)]="selectedDestination" name="destination"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Receiver Contact Number</ion-label>
                <ion-input required [(ngModel)]="deliveryObj.custom.receiverContactNumber" name="contact"></ion-input>
            </ion-item>
        </ion-list>
    
        <ion-list *ngIf="currentPage == 3">
            <ion-item>
                <ion-label>Package Type</ion-label>
                <ion-select required [(ngModel)]="deliveryObj.packageType" name="type">
                    <ion-option [value]="type.value" *ngFor="let type of packageTypes">{{type.display}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Package Weight (kg)</ion-label>
                <ion-input type="number" required [(ngModel)]="deliveryObj.weight" name="weight"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Length (cm)</ion-label>
                <ion-input type="number" required [(ngModel)]="length" name="length"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Width (cm)</ion-label>
                <ion-input type="number" required [(ngModel)]="width" name="length"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Height (cm)</ion-label>
                <ion-input type="number" required [(ngModel)]="height" name="length"></ion-input>
            </ion-item>
        </ion-list>
        
        <ion-list *ngIf="currentPage == 4" class="details-container">
            <div>
                <ion-item>
                    <ion-col class="value-text">Pick up Date</ion-col>
                    <ion-col>{{selectedDate}}</ion-col>
                </ion-item>
                <ion-item>
                    <ion-col class="value-text">Pick up Time</ion-col>
                    <ion-col>{{formatTime(selectedTime)}}</ion-col>
                </ion-item>
                <ion-item>
                    <ion-col class="value-text">Pick up Location</ion-col>
                    <ion-col>{{selectedPickup}}</ion-col>
                </ion-item>
                <ion-item>
                    <ion-col class="value-text">Destination</ion-col>
                    <ion-col>{{selectedDestination}}</ion-col>
                </ion-item>
                <ion-item>
                    <ion-col class="value-text">Receiver Contact Number</ion-col>
                    <ion-col>{{deliveryObj.custom.receiverContactNumber}}</ion-col>
                </ion-item>
                <ion-item>
                    <ion-col class="value-text">Package Type</ion-col>
                    <ion-col>
                        {{getPackageTypeLabel(deliveryObj.packageType)}}
                    </ion-col>
                </ion-item>
                <ion-item>
                    <ion-col class="value-text">Package Weight</ion-col>
                    <ion-col>{{deliveryObj.weight}}</ion-col>
                </ion-item>
                <ion-item>
                    <ion-col class="value-text">Package Size</ion-col>
                    <ion-col>{{length.toString() + 'x' + width.toString() + 'x' + height.toString()}}</ion-col>
                </ion-item>
                <ion-item>
                    <ion-col class="value-text">Price</ion-col>
                    <ion-col>Php 
                        <span *ngIf="!isLoading">
                            {{roundOff(deliveryPrice)}}
                        </span>
                    </ion-col>
                </ion-item>
            </div>
            <div padding margin-top>
                <h5 text-left ion-text color="primary" (click)="currentPage = 3">Previous</h5>
                <button ion-button class="send-request" [disabled]="isSaving" margin-top margin-bottom (click)="sendRequest(deliveryObj)">Send Request</button>
            </div>
        </ion-list>
    </form>
    <div class="container-fluid" *ngIf="currentPage != 4">
        <ul class="list-unstyled multi-steps">
            <li (click)="visitPage(1)" [ngClass]="{'is-active': currentPage == 1}">Pickup</li>
            <li (click)="visitPage(2)" [ngClass]="{'is-active': currentPage == 2}">Destination</li>
            <li (click)="visitPage(3)" [ngClass]="{'is-active': currentPage == 3}">Details</li>
            <li (click)="visitPage(4)">Summary</li>
        </ul>
    </div>
</ion-content>