page-home {
    #map {
        height: 100%;
    }

    .request-delivery-container {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .request-btn {
        margin: 0 !important;
    }
}