<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Settings</ion-title>
        <ion-buttons end>
            <ion-icon name="checkmark" class="check-circle" *ngIf="isSuccess"></ion-icon>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="master-bg">
    <div text-center margin-top *ngIf="isLoading">
        <ion-spinner></ion-spinner>
    </div>
    <div class="image-container">
        <img *ngIf="user.avatar !== 'null'" class="user-avatar" [src]="user.avatar" margin-bottom/>
        <img *ngIf="user.avatar === 'null'" class="user-avatar" src="assets/imgs/default-user.png" margin-bottom>
        <div class="image-upload" text-center>
            <button ion-button>
                <ion-icon name="camera" class="icon-camera"></ion-icon>
                Upload
            <input type="file" id="upload"
            (change)="fileChangeEvent($event)" 
            #fileInput
            accept="image/jpeg, image/png" >
            </button>
        </div>
    </div>
    <form #profileForm="ngForm" *ngIf="!isLoading">
        <ion-list>
            <ion-item>
                <ion-label>Username</ion-label>
                <ion-input [disabled]="true" required [(ngModel)]="user.username" name="username"></ion-input> 
            </ion-item>
            <ion-item>
                <ion-label>Email</ion-label>
                <ion-input [disabled]="true" required [(ngModel)]="user.email" name="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Full Name</ion-label>
                <ion-input (keyup)="updateUser(user)" required [(ngModel)]="user.fullName" name="fullname"></ion-input>
            </ion-item>
            <ion-item>
                <button ion-button item-start (click)="changePassword(user)" color="secondary">Change password</button>
                <button ion-button outline item-end (click)="viewAttachments()" class="view-attachments">View attachments</button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>