<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Settings</ion-title>
        <ion-buttons end>
            <ion-icon name="checkmark-circle" class="check-circle" *ngIf="isSuccess"></ion-icon>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="master-bg">
    <h3 text-center *ngIf="isLoading">Loading settings</h3>
    <div text-center *ngIf="!isLoading">
        <img *ngIf="user.avatar !== 'null'" class="user-avatar" [src]="user.avatar" margin-bottom/>
        <img *ngIf="user.avatar === 'null'" class="user-avatar" src="assets/imgs/default-user.png" margin-bottom>
        <div class="image-upload">
            <button ion-button>
                Upload
            <input type="file" id="upload"
            (change)="fileChangeEvent($event)" 
            #fileInput
            accept="image/jpeg, image/png" >
            </button>
        </div>
    </div>
    <form #profileForm="ngForm" *ngIf="!isLoading">
        <ion-list>
            <ion-item>
                <ion-label>Username</ion-label>
                <ion-input [disabled]="true" required [(ngModel)]="user.username" name="username"></ion-input> 
            </ion-item>
            <ion-item>
                <ion-label>Email</ion-label>
                <ion-input [disabled]="true" required [(ngModel)]="user.email" name="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Full Name</ion-label>
                <ion-input (keyup)="updateUser(user)" required [(ngModel)]="user.fullName" name="fullname"></ion-input>
            </ion-item>
            <ion-item>
                <button ion-button (click)="changePassword(user)" color="secondary">Change Password</button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>