<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Notifications
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="getWithoutLoading($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div text-center margin-top *ngIf="isLoading">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list *ngIf="!isLoading && notifications.length">
        <ion-card *ngFor="let notification of notifications" (click)="visitNotification(notification)">
            <ion-item-sliding #item>
                <ion-item [ngClass]="{'is-unread': notification.isUnread}">
                    <ion-card-header>
                        <h2 class="card-title">{{notification.title}}</h2>
                    </ion-card-header>
                    <ion-card-content>
                        <div>
                            {{notification.description}}
                        </div>
                        <div margin-top class="date-text">
                            {{notification.dateCreated | date : 'LLL dd, yyyy hh:mm a'}}
                        </div>
                    </ion-card-content>
                </ion-item>
                <ion-item-options side="right">
                    <button class="mail-button" ion-button *ngIf="notification.isUnread" (click)="$event.stopPropagation(); mark(notification); item.close()">
                        <ion-icon name="mail-open"></ion-icon>
                        <div>
                            Mark 
                            as read
                        </div>
                    </button>
                    <button class="mail-button" ion-button *ngIf="!notification.isUnread" (click)="$event.stopPropagation(); mark(notification); item.close()">
                        <ion-icon name="mail"></ion-icon>
                        <div>
                            Mark 
                            as unread
                        </div>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-card>
    </ion-list>
</ion-content>