page-notifications {
    .card-title {
        font-weight: bold;
        color: #D54A44;
    }

    .item {
        padding: 0;
    }

    .is-unread {
        background: #e4e4e4;
    }

    ion-item-options {
        border-bottom: none !important;
    }

    .card-content {
        white-space: normal;
    }

    .date-text {
        color: #777;
    }
}