<ion-header>
    <ion-navbar>
        <ion-title>
            Package
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div text-center margin-top>
        <ion-spinner *ngIf="isLoading"></ion-spinner>
    </div>
    <ion-card *ngIf="!isLoading">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col text-left class="location-text">
                        {{package.custom && package.custom.pickupLocationAddressString}}
                    </ion-col>
                    <ion-col text-center>
                        <ion-icon class="arrow-right" ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
                    </ion-col>
                    <ion-col text-right class="location-text">
                        {{package.custom && package.custom.destinationAddressString}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-center>
                        <ion-note>{{package.pickupDate | date:"MM / dd / yy - h:mm a "}}</ion-note>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-5>
                        <ion-note>
                            {{package.packageType === 'perishableFood' ? 'Perishable Food' : ''}}
                            {{package.packageType === 'preservedFood' ? 'Preserved Food' : ''}}
                            {{package.packageType === 'document' ? 'Document' : ''}}
                            {{package.packageType === 'electronics' ? 'Electronics' : ''}}
                            {{package.packageType === 'clothing' ? 'Clothing' : ''}}
                            {{package.packageType === 'default' ? 'Default' : ''}}
                        </ion-note>
                    </ion-col>
                    <ion-col col-5>
                        <ion-note>{{package.dimension}}</ion-note>
                    </ion-col>
                    <ion-col col-2>
                        <ion-note>{{package.weight}} kg</ion-note>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
        <ion-row>
            <ion-col text-center [ngClass]="{'completed': package.deliveryStatus == 'completed', 
                'pending': package.deliveryStatus == 'pending.clientRequest' || package.deliveryStatus == 'pending.ownerAccepted',
                'inProgress': package.deliveryStatus == 'inProgress.driverAccepted' || package.deliveryStatus == 'inProgress.driverForPickup' || package.deliveryStatus == 'inProgress.driverEnRoute' || package.deliveryStatus == 'inProgress.driverForDropoff'}">
                <span *ngIf="package.deliveryStatus =='completed'">Package has been delivered</span>
                <span *ngIf="package.deliveryStatus =='pending.clientRequest'">Waiting for an owner to accept your request</span>
                <span *ngIf="package.deliveryStatus =='pending.ownerAccepted'">Owner has accepted your request. Waiting for driver confirmation.</span>
                <span *ngIf="package.deliveryStatus =='inProgress.driverAccepted'">Driver has accepted your request.</span>
                <span *ngIf="package.deliveryStatus =='inProgress.driverForPickup'">Driver will pick up your package</span>
                <span *ngIf="package.deliveryStatus =='inProgress.driverEnRoute'">Driver is on the way to destination.</span>
                <span *ngIf="package.deliveryStatus =='inProgress.driverForDropoff'">Driver is about to drop off your package.</span>
            </ion-col>
        </ion-row>

    </ion-card>
</ion-content>