page-package-item {
    .completed {
        background-color: green;
        color: white;
    }

    .inProgress {
        background-color: #2980b9;
        color: white;
    }

    .pending {
        background-color: orange;
        color: white;
    }

    .arrow-right {
        font-size: 2.2em;
        color: #D54A44;
    }

    ion-note {
        color: #666 !important;
    }

    .location-text {
        font-weight: bold;
    }
}